{% extends 'base.html' %}

{% block content %}
	<form id="upload-form"method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<div id="upload-form-header">
			<h1 class="main-content display-5">{% block title%}Set up{% endblock %}</h1>
		</div>
		<div id="mxl-input">
			<div class="main-content">
				<h1 class="display-6">Step 1: Scores</h1>
				<p class="lead">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="file-selector row mb-4">
					<h1 class="col-xl-6 col-form-label">Selected file:</h1>
					<div class="col-xl-6">
						<label for="mxlFileInput" class="form-label btn btn-light btn-outline-secondary">Choose File</label>
						<input class="form-control" type="file" name="mxl-file" id="mxlFileInput" hidden accept=".musicxml, .mxl">
					</div>
				</div>
				<ul id="mxl-file-ul" class="file-list">
				</ul>
			</div>
		</div>
		<div id="wav-input">
			<div class="main-content">
				<h1 class="display-6">Step 2: Recordings</h1>
				<p class="lead">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="file-selector row mb-4">
					<h1 class="col-xl-6 col-form-label">Selected files:</h1>
					<div class="col-xl-6">
						<label for="wavFileInput" class="form-label btn btn-light btn-outline-secondary">Choose Files</label>
						<input type="file" name="wav-files" id="wavFileInput" multiple hidden accept=".wav">
					</div>
				</div>
				<ul id="wav-file-ul" class="file-list">
				</ul>
			</div>
		</div>
		<div id="param-input">
			<div class="main-content">
				<h1 class="display-6">Step 3: Parameter selection</h1>
				<p class="lead">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<ul id="param-input-sections">
					<h1 class="display-7 param-input-section">
						Chromagram Parameters
						<button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#chroma-params" aria-expanded="false" aria-controls="collapseExample">
							Show
						</button>
					</h1>
					<div id="chroma-params" class="collapse">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<div id="chroma-param-input">
							<div class="row mb-4">
								<label class="col-xl-3 col-form-label" for="nfft"><strong>Number of FFT points:</strong></label>
								<div class="col-xl-3">
									<input title="Number of FFT samples" class="form-control" type="number" id="nfft" name="nfft" value="4096" min="1">
								</div>
								<label class="col-xl-3 col-form-label" for="window"><strong>Windowing function:</strong></label>
								<div class="col-xl-3">
									<select title="Function to be used for window weighting" class="custom-select form-control" id="window" name="window">
										<option value="boxcar">Rectangular</option>
										<option selected value="hann">Hann</option>
										<option value="hamming">Hamming</option>
										<option value="blackman">Blackman</option>
									</select>
								</div>
							</div>
							<div class="row mb-4">
								<label class="col-xl-3 col-form-label" for="winsize"><strong>Window duration:</strong></label>
								<div class="col-xl-3">
									<div class="input-group">
										<input title="Window length in miliseconds" class="form-control" type="number" id="winsize" name="winsize" value="92" min="1" step="0.1">
										<div class="input-group-append">
											<span class="input-group-text">ms</span>
										</div>
									</div>
								</div>
								<label class="col-xl-3 col-form-label" for="overlap"><strong>Overlap percentage:</strong></label>
								<div class="col-xl-3">
									<div class="input-group">
										<input title="Overlap between windows" class="form-control" type="number" id="overlap" name="overlap" value="50" min="1" max="100" step="0.5">
										<div class="input-group-append">
											<span class="input-group-text">%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row mb-4">
								<label class="col-xl-3 col-form-label" for="norm"><strong>Normalization norm:</strong></label>
								<div class="col-xl-3">
									<select title="Norm to be used in column-wise normalization" class="custom-select form-control" id="norm"name="norm">
										<option value="inf">&infin;</option>
										<option value="1">Manhattan</option>
										<option selected value="2">Euclidean</option>
									</select>
								</div>
								<label class="col-xl-3 col-form-label" for="epsilon"><strong>Normalization threshold:</strong></label>
								<div class="col-xl-3">
									<input title="Overlap between windows" class="form-control" type="number" id="epsilon" name="epsilon" value="0.0001" min="0" step="0.00005">
								</div>
							</div>
							<div class="row mb-4">
								<label class="col-xl-3 col-form-label" for="gamma"><strong>Compression constant:</strong></label>
								<div class="col-xl-3">
										<input title="Logarithmic compression constant" class="form-control" type="number" id="gamma" name="gamma" value="100" min="0">
								</div>
							</div>
						</div>
					</div>
					<h1 class="display-7 param-input-section">
						Alignment Parameters
						<button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#dtw-params" aria-expanded="false" aria-controls="collapseExample">
							Show
						</button>
					</h1>
					<div id="dtw-params" class="collapse">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<div id="dtw-param-input" class="row mb-4">
							<div class="dtw-param-col col-xl-4">
								<div class="row mb-4">
									<label class="col-xl-6 col-form-label" for="distance"><strong>Distance metric</strong></label>
									<div class="col-xl-6">
										<select title="Distance metric between two frames" class="custom-select form-control" id ="distance" name="distance">
											<option selected value="cosine">Cosine</option>
											<option value="correlation">Correlation</option>
											<option value="chebyshev">Chebyshev</option>
											<option value="canberra">Canberra</option>
											<option value="euclidean">Euclidean</option>
										</select>
									</div>
								</div>
								<div class="row mb-4">
									<label class="col-xl-6 col-form-label" for="stepsize"><strong>Steps Allowed</strong></label>
									<div class="col-xl-6">
										<select title="DTW allowed optimal path step sizes" class="custom-select form-control" id="stepsize" name="stepsize">
											<option selected value="standard">Standard</option>
											{# Add other options here after discussion #}
										</select>
									</div>
								</div>
								<div class="row mb-4" id="band-input">
									<label class="col-xl-6 col-form-label" for="band"><strong>Sakoe-Chiba Band</strong></label>
									<div class="col-xl-6">
										<select title="Global DTW path constraint band" class="custom-select form-control" name="band" id="band">
											<option value="true">Yes</option>
											<option selected value="false">No</option>
										</select>
									</div>
								</div>
								<div class="row mb-4" id="radius-input">
									<label class="col-xl-6 col-form-label" for="radius"><strong>Band Radius</strong></label>
									<div class="col-xl-6">
											<input title="Half of the band width" class="form-control" type="number" name="radius" id="radius" value="0.0008" min="0" step="0.0001">
									</div>
								</div>
							</div>
							<div class="dtw-param-col col-xl-4">
								<div id="dtw-diagram">
									<img src="{{ url_for('static', filename='img/standard-dtw.svg') }}">
								</div>
							</div>
							<div class="dtw-param-col col-xl-4">
								<div id="dtw-weights">
									<div class="row mb-4">	
										<label class="col-xl-3 col-form-label mb-4" for="W1"><strong>W1</strong></label>
										<div class="col-xl-3 mb-4">
												<input class="form-control" type="number" id="W1" name="W1" value=1 step="0.1">
										</div>	
										<label class="col-xl-3 col-form-label mb-4" for="W2"><strong>W2</strong></label>
										<div class="col-xl-3 mb-4">
												<input class="form-control" type="number" id="W2" name="W2"  value=3 step="0.1">
										</div>	
										<label class="col-xl-3 col-form-label mb-4" for="W3"><strong>W3</strong></label>
										<div class="col-xl-3 mb-4">
												<input class="form-control" type="number" id="W3" name="W3" value=3 step="0.1">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>			
				</ul>
			</div>
		</div>
		<div id="upload-submit-button"class="d-grid gap-2">
			<input class="btn btn-success btn-lg" type="submit" value="Align !">
		</div>
	</form>
	<script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}