{% extends 'base.html' %}

{% block content %}
	<div class="container-fluid" id="intro-content">
		<div class="row intro-content-row">
			<div class="col-lg split left">
				<h1 class="header-title display-5">{% block title%}Intro Page{% endblock%}</h1>
				<p class="lead"> 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="col-lg split right">
				<div class="img-container">
					<img src="{{ url_for('static', filename='img/placeholder.svg') }}">
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="btn-sequence">
					<a href="{{ url_for('align.upload') }}" class="btn btn-outline-success">Try the demo!</a>
					<a href="{{ url_for('about.howitworks') }}" class="btn btn-outline-secondary">See how it works</a>
				</div>
			</div>
		</div>
	</div>
{% endblock%}

